@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling the scrollbar in Chrome and Safari */
::-webkit-scrollbar {
    height: 7px;
    width: 8px;
    background-color: inherit;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #669bbc;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #669bbc;
  }